html, body 
{
  background: white;
  color: black;
  max-width: 1280px;

}

* { margin: 0px; padding: 0px; border: 0px; }

a, li {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
