
body {
  font-family: "Roboto", sans-serif;
  margin: 40px 0 0 50px;
}

header {
  font-family: 'Trebuchet MS';
  font-size: 2rem; 
  color: #5DADE2;
}

header a {
  color: inherit;
}

span {
   color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #35444F;
}

nav li {
  float: left;
  min-height: 69px;
  line-height: 69px;
  border-right: 2px solid white; 
}

nav li:first-child {
  border-left: 2px solid white;
}

nav a:any-link {
  display: block;
  
  padding: 0 20px;
  color: white;
  text-align: center;
  font-size: 24px; 
  text-decoration: none;
}

nav a:hover, nav a:active {
background-color: #222F3A;
}

.aside-menu {

  flex-direction: column;
  width: 344px;
  height: 399px;
  border: 1px solid black;
  margin-right: 30px;
  float: left;
}

aside ul {
  font-size: 27px;
  text-align: left;  
  justify-content: space-around;
}

aside a:any-link {
  display: block;
  padding: 1.5rem 44px; 
  color: #35444F;
}

aside a:hover {
  color: black;
  background-color: #DBDBDB;
  padding-left: 3em;
  transition: .5s;
}

aside a:active {
  color: white;
  background-color: #46525E;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .rectangle {
  display: flex;
  position: relative;
  width: 100%;
  min-width: max-content;
  height: 529px;
  border: 1px solid black;
  padding: 75px 0;
  justify-content: center;
}

.ramda-pict {
  align-self: center;
} 

img:hover {
  transition-duration: 0.5s;
  width: 450px;
  height: 450px;
}

.text {
  margin: 30px 0;
  width: 100%;
  font-size: 18px;
  text-indent: 20px;
  text-align: justify;
}

.footer-menu {
  display: flex;
  padding-inline: 30px;
  justify-content:flex-start;
  height: 69px;
  background-color: darkgrey;
  align-items: center;
  font-size: 25px;
}

.Item-menu {
  text-align: center;
  padding-inline: 10px;
}

p:last-of-type.Item-menu {
  margin-left: 13%;
}

p a:hover, p a:active {
  color: #02395D;
  padding-bottom: 12px;
  border-bottom: 2px solid #02395D;
}